body {
  background: #F6F7F9;
}
/*
 **公共样式
 */
.app-wrapper {
  background: #F6F7F9;
}
.admin-app-wrapper {
  min-width: 1200px;
}
/*头部样式*/
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.app-header .header-top {
  height: 30px;
  background: #f9f9f9;
}
.app-header .header-top .top-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7px;
  overflow: hidden;
  line-height: 12px;
}
.app-header .header-top .top-inner .top-item {
  position: relative;
  font-size: 12px;
  color: #a3a3a3;
  vertical-align: middle;
  padding: 0 12px 0 5px;
}
.app-header .header-top .top-inner .top-item::after {
  position: absolute;
  width: 1px;
  height: 100%;
  content: '';
  top: 0;
  right: 0;
  background: #a3a3a3;
}
.app-header .header-top .top-inner .first-item {
  padding-left: 0;
}
.app-header .header-top .top-inner .top-item:last-child::after {
  display: none;
}
.app-header .header-top .top-inner .icon {
  vertical-align: middle;
}
.app-header .header-top .top-inner .top-left {
  float: left;
}
.app-header .header-top .top-inner .top-right {
  float: right;
}
.app-header .header-top .top-inner .top-right-logined {
  float: right;
}
.app-header .header-top .top-inner .top-right-logined .company {
  font-size: 12px;
  color: #1f397a;
}
.app-header .header-inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 108px;
  position: relative;
}
.app-header .header-inner .header-inner-con {
  padding-top: 25px;
}
.app-header .header-inner .logo-box {
  float: left;
}
.app-header .header-inner .nav-box {
  float: right;
}
.app-header .header-inner .nav-box .nav-item {
  float: left;
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 35px;
  font-size: 18px;
  font-weight: bold;
}
.app-header .header-inner .nav-box .nav-item a {
  display: block;
  color: #474e5d;
}
.app-header .header-inner .nav-box .nav-item .sub-nav-box {
  display: none;
  position: absolute;
  top: 57px;
  left: -28px;
  background: #fff;
  font-size: 14px;
  font-weight: 100;
  width: 200px;
  padding: 0 0 5px 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #F53141;
}
.app-header .header-inner .nav-box .nav-item .sub-nav-box .sub-nav {
  display: block;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.app-header .header-inner .nav-box .nav-item .sub-nav-box .sub-nav:last-child {
  border: none;
}
.app-header .header-inner .nav-box .nav-item:hover .sub-nav-box {
  display: block;
}
.app-header .header-inner .nav-box .nav-item:hover:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #F53141;
}
.app-header .header-inner .nav-box .active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #F53141;
}
.app-header .header-inner .icon-mobile {
  display: none;
  width: 40px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
}
.app-header .header-inner .mobile-nav-box {
  display: none;
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}
.app-header .header-inner .mobile-nav-box .nav-item {
  display: block;
  text-align: center;
  color: #474e5d;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.app-header .header-inner .mobile-nav-box .nav-item:last-child {
  border: none;
}
/*后台头部样式*/
.admin-app-header {
  min-width: 1200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.admin-app-header .header-top {
  height: 30px;
  background: #f9f9f9;
}
.admin-app-header .header-top .top-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7px;
  overflow: hidden;
  line-height: 12px;
}
.admin-app-header .header-top .top-inner .top-item {
  position: relative;
  font-size: 12px;
  color: #a3a3a3;
  vertical-align: middle;
  padding: 0 12px 0 5px;
}
.admin-app-header .header-top .top-inner .top-item::after {
  position: absolute;
  width: 1px;
  height: 100%;
  content: '';
  top: 0;
  right: 0;
  background: #a3a3a3;
}
.admin-app-header .header-top .top-inner .first-item {
  padding-left: 0;
}
.admin-app-header .header-top .top-inner .top-item:last-child::after {
  display: none;
}
.admin-app-header .header-top .top-inner .icon {
  vertical-align: middle;
}
.admin-app-header .header-top .top-inner .top-left {
  float: left;
}
.admin-app-header .header-top .top-inner .top-right {
  float: right;
}
.admin-app-header .header-top .top-inner .top-right-logined {
  float: right;
}
.admin-app-header .header-top .top-inner .top-right-logined .company {
  font-size: 12px;
  color: #1f397a;
}
.admin-app-header .header-inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 108px;
  position: relative;
}
.admin-app-header .header-inner .header-inner-con {
  padding-top: 25px;
}
.admin-app-header .header-inner .logo-box {
  float: left;
}
.admin-app-header .header-inner .nav-box {
  float: right;
}
.admin-app-header .header-inner .nav-box .nav-item {
  float: left;
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 35px;
  font-size: 18px;
  font-weight: bold;
}
.admin-app-header .header-inner .nav-box .nav-item a {
  display: block;
  color: #474e5d;
}
.admin-app-header .header-inner .nav-box .nav-item .sub-nav-box {
  display: none;
  position: absolute;
  top: 57px;
  left: -28px;
  background: #fff;
  font-size: 14px;
  font-weight: 100;
  width: 200px;
  padding: 0 0 5px 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #F53141;
}
.admin-app-header .header-inner .nav-box .nav-item .sub-nav-box .sub-nav {
  display: block;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.admin-app-header .header-inner .nav-box .nav-item .sub-nav-box .sub-nav:last-child {
  border: none;
}
.admin-app-header .header-inner .nav-box .nav-item:hover .sub-nav-box {
  display: block;
}
.admin-app-header .header-inner .nav-box .nav-item:hover:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #F53141;
}
.admin-app-header .header-inner .nav-box .active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #F53141;
}
.admin-app-header .header-inner .icon-mobile {
  display: none;
  width: 40px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
}
.admin-app-header .header-inner .mobile-nav-box {
  display: none;
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}
.admin-app-header .header-inner .mobile-nav-box .nav-item {
  display: block;
  text-align: center;
  color: #474e5d;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.admin-app-header .header-inner .mobile-nav-box .nav-item:last-child {
  border: none;
}
/*主体内容,公共样式*/
.app-main {
  margin-top: 138px;
  background: #eee;
}
.app-main .wrap-part {
  padding: 90px 0 80px;
}
.app-main .wrap-part .part-title-box {
  text-align: center;
  color: #fff;
}
.app-main .wrap-part .part-title-box .title {
  margin-bottom: 25px;
  font-size: 36px;
}
.app-main .wrap-part .part-title-box .dark-title {
  color: #294D98;
}
.app-main .wrap-part .part-title-box .sub-title {
  font-size: 18px;
  padding: 0 20px;
}
.app-main .wrap-part .part-title-box .dark-sub-title {
  color: #4c4c4c;
}
/*
**后台主体样式
*/
.admin-app-main {
  margin-top: 138px;
  background: #F4F8F9;
}
/*底部内容*/
.app-footer {
  padding: 40px 0 0 0;
  background: #1E273B;
  color: #dededf;
  font-size: 18px;
}
.app-footer .footer-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.app-footer .footer-inner .base-info {
  padding: 0 0 50px 0;
}
.app-footer .footer-inner .base-info .logo-box {
  float: left;
}
.app-footer .footer-inner .base-info .logo-box .logo {
  vertical-align: middle;
}
.app-footer .footer-inner .base-info .logo-box .logo-txt {
  font-size: 24px;
  color: #fefeff;
  vertical-align: middle;
}
.app-footer .footer-inner .base-info .logo-box .desc-txt {
  max-width: 256px;
  margin-top: 25px;
  font-size: 14px;
  color: #4f4e4e;
}
.app-footer .footer-inner .base-info .link-info {
  float: left;
  padding: 0 80px;
}
.app-footer .footer-inner .base-info .link-info .jump-box {
  margin-bottom: 40px;
}
.app-footer .footer-inner .base-info .link-info .jump-box .jump-item {
  float: left;
  margin-right: 20px;
}
.app-footer .footer-inner .base-info .link-info .jump-box .jump-item .item-name {
  font-size: 18px;
  color: #fefeff;
  margin-bottom: 10px;
}
.app-footer .footer-inner .base-info .link-info .jump-box .jump-item .item-list .jump {
  display: block;
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}
.app-footer .footer-inner .base-info .link-info .jump-box .jump-item .item-list .comp {
  max-width: 200px;
}
.app-footer .footer-inner .base-info .qr-box {
  float: left;
}
.app-footer .footer-inner .base-info .qr-box .qr-item {
  margin-left: 50px;
}
.app-footer .footer-inner .base-info .qr-box .qr-item .qr-img {
  width: 182px;
  height: 182px;
}
.app-footer .footer-inner .base-info .qr-box .qr-item .txt {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.app-footer .footer-inner .technical-support {
  padding: 18px 0;
  font-size: 14px;
  color: #666;
}
.app-footer .footer-inner .technical-support .support {
  margin: 0 130px 0 50px;
}
/*后台底部内容*/
.admin-app-footer {
  min-width: 1200px;
  padding: 40px 0 30px;
  background: #323232;
  color: #dededf;
  font-size: 18px;
}
.admin-app-footer .footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.admin-app-footer .footer-inner .base-info {
  float: left;
}
.admin-app-footer .footer-inner .base-info .base-info-box {
  overflow: hidden;
}
.admin-app-footer .footer-inner .base-info .logo-box {
  float: left;
}
.admin-app-footer .footer-inner .base-info .logo-box .logo {
  vertical-align: middle;
}
.admin-app-footer .footer-inner .base-info .logo-box .logo-txt {
  font-size: 24px;
  color: #fefeff;
  vertical-align: middle;
}
.admin-app-footer .footer-inner .base-info .link-info {
  float: right;
}
.admin-app-footer .footer-inner .base-info .link-info .jump-box {
  margin: 10px 0 40px 0;
  overflow: hidden;
}
.admin-app-footer .footer-inner .base-info .link-info .jump-box .jump-item {
  float: left;
  margin-left: 40px;
}
.admin-app-footer .footer-inner .base-info .link-info .jump-box .jump-item .item-name {
  font-size: 18px;
  color: #fefeff;
  margin-bottom: 10px;
}
.admin-app-footer .footer-inner .base-info .technical-support {
  float: left;
  padding: 18px 0;
  font-size: 14px;
  color: #666;
}
.admin-app-footer .footer-inner .base-info .technical-support .support {
  margin: 0 130px 0 0;
}
.admin-app-footer .footer-inner .qr-box {
  float: right;
}
.admin-app-footer .footer-inner .qr-box .qr-item {
  margin-left: 50px;
  overflow: hidden;
}
.admin-app-footer .footer-inner .qr-box .qr-item .qr-img {
  width: 132px;
  height: 132px;
  float: left;
}
.admin-app-footer .footer-inner .qr-box .qr-item .txt {
  height: 132px;
  line-height: 132px;
  margin-left: 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
  float: left;
}
/*侧边栏*/
.fixed-toolbar {
  position: fixed;
  right: 0;
  bottom: 200px;
  z-index: 999;
}
.fixed-toolbar .tool-item {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  background: #F53141;
  cursor: pointer;
  border-radius: 5px;
}
.fixed-toolbar .tool-item .icon-box {
  width: 100%;
  height: 100%;
  background: url("../images/fixed-icons.png") no-repeat;
  background-position: 4px 6px;
}
.fixed-toolbar .tool-item .icon-box2 {
  background-position: 5px -37px;
}
.fixed-toolbar .tool-item .icon-box3 {
  background-position: 6px -80px;
}
.fixed-toolbar .tool-item .icon-box4 {
  background-position: 4px -122px;
}
.fixed-toolbar .tool-item .item-desc {
  display: none;
  position: absolute;
  right: 40px;
  top: 0;
}
.fixed-toolbar .tool-item .item-desc .desc-inner {
  padding: 20px 20px 15px 37px;
}
.fixed-toolbar .tool-item .item-desc .item-name {
  font-size: 14px;
  color: #4c5f70;
  margin-bottom: 15px;
}
.fixed-toolbar .tool-item .item-desc .qr-img {
  width: 145px;
  height: 145px;
}
.fixed-toolbar .tool-item .qr-item-desc {
  top: -70px;
  width: 237px;
  height: 228px;
  background: url('../images/tool-bg.png') no-repeat;
  background-size: 100% 100%;
}
.fixed-toolbar .tool-item:hover {
  background: #437EDE;
}
.fixed-toolbar .tool-item:hover .item-desc {
  display: block;
}
.fixed-toolbar .tool-item:hover .item-qrcode {
  display: flex;
}
/*首页banner轮播导航活动样式*/
.swiper-pagination {
  position: absolute;
  z-index: 20;
  bottom: 50px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  margin: 0 5px;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  width: 50px;
  border: 1px solid #F53141;
  background: #F53141;
}
@media screen and (max-width: 1201px) {
  .app-header .header-top .top-inner {
    padding-left: 20px;
  }
  .app-header .header-inner {
    padding-left: 20px;
  }
  .app-footer .footer-inner .base-info .qr-box {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .app-header .header-inner .mobile-nav-box {
    display: none!important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .app-footer .footer-inner .base-info .logo-box {
    margin-left: 85px;
  }
}
@media screen and (max-width: 1024px) {
  .app-header .header-inner {
    height: 72px;
  }
  .app-header .header-top .top-inner .top-left {
    display: none;
  }
  .app-header .header-inner .header-inner-con {
    padding-top: 14px;
  }
  .app-header .header-inner .logo-box img {
    width: 150px;
  }
  .app-header .header-inner .nav-box {
    display: none;
  }
  .app-header .header-inner .icon-mobile {
    display: block;
  }
  .app-main {
    margin-top: 102px;
  }
  .app-main .wrap-part {
    padding: 10px 0 10px;
  }
  .app-footer .footer-inner .base-info .link-info {
    display: none;
  }
  .app-footer .footer-inner .base-info .logo-box {
    float: none;
    width: 256px;
    margin: 0 auto;
  }
  .app-footer .footer-inner .technical-support {
    text-align: center;
  }
  .app-footer .footer-inner .technical-support .support {
    margin: 0;
    padding: 0 10px;
  }
  .app-footer .footer-inner .technical-support .copy {
    display: none;
  }
  .fixed-toolbar {
    display: none;
  }
}
