<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="App">
	<select id="list" resultType="record" parameterType="record">
		<![CDATA[
		SELECT
			TAT.V_APPID,
			TAT.ID,
			TAT.V_SECRET,
			TAT.V_APP_NAME,
			TAT.V_RATE,
			TAT.V_FORMALITIES,
			TAT.V_IS_MATCH,
			TSUB.USER_ACCOUNT V_USER_ACCOUNT,
			TSUB.USER_PHONE V_USER_PHONE,
			TSUB.USER_ID V_USER_ID,
			TSUR.ROLE_ID V_ROLE_ID,
			TAT.RSA_KEY,
			TCT.V_WX_COLLECTION,
			TCT.V_ALI_COLLECTION,
			TCT.V_TOTAL_COLLECTION,
			TCT.V_CASH_COLLECTION,
			(
			SELECT
				1- ( SUM( CASE WHEN V_STATUS = '2' THEN 1 ELSE 0 END ) / SUM( 1 ) ) 
			FROM
				T_ORDER_TAB TOT 
			WHERE
				TOT.V_BELONG_APP = TAT.ID 
			) V_SUCCESS_RATE 
		FROM
			T_APP_TAB TAT
			LEFT JOIN T_COLLECTION_TAB TCT ON TAT.ID = TCT.V_APP_ID
			LEFT JOIN T_SYS_USER_BASE TSUB ON TAT.V_USER_ID = TSUB.USER_ID
			LEFT JOIN T_SYS_USER_ROLE TSUR ON TSUB.USER_ID = TSUR.USER_ID
		]]>
		<where>
			<if test="IS_ADMIN !=null and IS_ADMIN !=''">
				<choose>
					<when test="IS_ADMIN == 0">
						<if test="USER_ID !=null and USER_ID !=''">
							<![CDATA[AND (tat.V_CREATE_USER = #{USER_ID} or tsub.USER_ID = #{USER_ID})]]>
						</if>
					</when>
				</choose>
			</if>
			<if test="V_APP_NAME != null and V_APP_NAME != ''">
			<![CDATA[
			and tat.V_APP_NAME  like CONCAT('%', #{V_APP_NAME}, '%')
			]]>
			</if>
			<if test="V_USER_ACCOUNT != null and V_USER_ACCOUNT != ''">
			<![CDATA[
			and tsub.USER_ACCOUNT  like CONCAT('%', #{V_USER_ACCOUNT}, '%')
			]]>
			</if>
		</where>
		<![CDATA[
			order by tat.V_UPDATE_TIME desc
		]]>
	</select>
</mapper>
