<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Financial Service Platform</display-name>
  <description>招财猫金融服务平台</description>
  <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:logback.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.sozone.aeolus.ext.logback.LogbackConfigListener
		</listener-class>
  </listener>
  <context-param>
    <param-name>buffSize</param-name>
    <param-value>2048</param-value>
  </context-param>
  <context-param>
    <param-name>fileMaxSize</param-name>
    <param-value>10485760</param-value>
  </context-param>
  <context-param>
    <param-name>maxSize</param-name>
    <param-value>10485760</param-value>
  </context-param>
  <listener>
    <listener-class>com.sozone.aeolus.upload.listener.AeolusUplaodListener
		</listener-class>
  </listener>
  <context-param>
    <param-name>aeolusConfigLocation</param-name>
    <param-value>classpath:AeolusConfig.xml</param-value>
  </context-param>
  <context-param>
    <param-name>aeolusSerialNumber</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>aeolusTimerConfigLocation</param-name>
    <param-value>classpath:AeolusJobsConfig.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.sozone.aeolus.servlet.listener.AeolusConfigListener
		</listener-class>
  </listener>
  <context-param>
    <param-name>shiroConfigLocations</param-name>
    <param-value>classpath:aeolusAuthorize.ini</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener
		</listener-class>
  </listener>
  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter
		</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*
			</param-value>
    </init-param>
    <init-param>
      <param-name>principalSessionName</param-name>
      <param-value>org.apache.shiro.subject.support.DefaultSubjectContext_PRINCIPALS_SESSION_KEY
			</param-value>
    </init-param>
    <init-param>
      <param-name>profileEnable</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>AeolusServlet</servlet-name>
    <servlet-class>com.sozone.aeolus.servlet.AeolusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AeolusServlet</servlet-name>
    <url-pattern>/authorize/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet
		</servlet-class>
    <init-param>
      <param-name>resetEnable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>loginUsername</param-name>
      <param-value>sozone</param-value>
    </init-param>
    <init-param>
      <param-name>loginPassword</param-name>
      <param-value>sozone999++</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XVCodeServlet</servlet-name>
    <servlet-class>com.sozone.aeolus.code.XVCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XVCodeServlet</servlet-name>
    <url-pattern>/rcode</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>